.truncate-cell {
    max-width: 80px; /* Adjust the height as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .truncate-cell:hover {
    text-overflow: none;
    overflow: visible;
    white-space: pre-wrap;
  }