.parent-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .child-div {
        width: 100%;
        padding: 25px;
        border: 1px solid #ccc;
        overflow-y: auto;
        max-height: 60vh;
        height: 60vh
    } 
}