<!-- The main layout, we can say a wrapper-->
<nz-layout class="outer-layout">

  <!--Sidebar creation with nz-sider to provide all the links to specific pages on clicks-->
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo" [routerLink]="['/home']"></div>
    <!--Here comes the logo of the company, currently just a box comes to show up the space only for the logo -->

    <!--Initialise the <ul> with the nzMode it shows the link in and theme of the sidebar to be shown, we can give it light to show the link and bg of sidebar in white -->
    <ul nz-menu nzTheme="dark" nzMode="inline">

      <!--The dynamic <li> tag which fetches all the sidebar elements from the object-->
      <li nz-menu-item nz-icon *ngFor="let item of listItems" [routerLink]="[item.routerLink]"
        routerLinkActive="ant-menu-item-selected">
        <span nz-icon nzType="{{item.icon}}"></span>
        <span>{{ item.value }}</span>
      </li>
      <!---->

    </ul>
    <!---->

  </nz-sider>
  <!---->

  <!--Content Layout Wrapper -->
  <nz-layout class="inner-layout">

    <!--Header tag here contains the toggle button which helps us toggle the sidebar to minimise or maximise mode-->
    <nz-header>
      <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></span>
    </nz-header>
    <!---->

    <!--Content block-->
    <nz-content class="main-content">

      <!--Breadcrumb (Dynamic assignment of the current route)-->
      <nz-breadcrumb>
        <nz-breadcrumb-item *ngIf="breadCrumb != ''">{{breadCrumb}}</nz-breadcrumb-item><!--Dynamic-->
      </nz-breadcrumb>
      <!---->

      <!-- container to show the content based on the router link is clicked -->
      <div #parentdiv class="inner-content">
        <router-outlet></router-outlet> <!--Router outlet-->
      </div>
      <!---->

    </nz-content>
    <!---->

    <nz-footer>Sample Project ©2023 Implement By Saurabh Jha</nz-footer>
  </nz-layout>
  <!---->

</nz-layout>